<!DOCTYPE html>
<html>
<head>
  <title>Cmsimply</title>
  <%= stylesheet_link_tag    "cmsimply/application" %>
  <%= javascript_include_tag "cmsimply/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
